name: Deployment used by composite action
on:
  push:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Load and cache dependencies
        id: cache-deps
        uses: ./.github/actions/cached-deps
        with:
          TaniaCaching: 'false'
      - name: Check cache status
        run: echo "Cache used? ${{ steps.cache-deps.outputs.used-cache }}"

      - name: Lint code
        run: npm run lint
  test:
    environment: testing # Optional GitHub environment name (can hold secrets, approvals)
    runs-on: ubuntu-latest # Runner VM image
    # container: 
    #   image: node:16 
    env: 
      MONGODB_CONNECTION_PROTOCOL: mongodb
      MONGODB_CLUSTER_ADDRESS: 127.0.0.1.27017
      MONGODB_USERNAME: root
      MONGODB_PASSWORD: example
      PORT: 8080 # App/server port used for wait-on
    services: # Additional containers accessible via localhost:<port> or hostname
      mongodb:
        image: mongo # Official MongoDB image
        ports:
          - 27017:27017
        env: # Initialize the MongoDB root user
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example
    steps: # Ordered sequence of actions and shell commands
      - name: Get Code # Checkout repository contents into the runner/container
        uses: actions/checkout@v3
      - name: Load and cache dependencies
        uses: ./.github/actions/cached-deps
      - name: Run server # Start the app then wait until it's reachable before testing
        run: npm start & npx wait-on http://127.0.0.1:$PORT # wait-on polls the URL until ready
      - name: Run tests # Execute test suite
        run: npm test
      - name: Output information # Example: show an env value (demonstration only)
        run: |
          echo "MONGODB_USERNAME: $MONGODB_USERNAME"
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Load and cache dependencies
        uses: ./.github/actions/cached-deps
      - name: Build website
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files
          path: ./dist
      - name: Output contents
        run: ls
      - name: Deploy site
        run: echo "Deploying..."